[Unit]
Description=SNMP Agent for BIRD Internet Routing Daemon
After=bird.service snmpd.service
Wants=bird.service
BindsTo=snmpd.service

[Service]
ExecStart=/opt/bird-snmp-agent/bird-snmp-agent

[Install]
WantedBy=multi-user.target
